<!DOCTYPE html>
<html>
    <head>
        <title>{%if subtitle is defined %}{{ subtitle }} - {% endif %}Review Squawk</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/whitewashingreviewsquawk/bootstrap/bootstrap.css') }}" />
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="span3">&nbsp;</div>
                <div class="span10">
                    <h1 id="beta"><a href="{{ path('rs_github_user_dashboard')}}">CS Review your Github commits</a></h1>
                </div>
                <div class="span3">&nbsp;</div>
            </div>

            <div class="row">
                <div class="span3">&nbsp;</div>
                <div class="span10">
                    {% block content %}{% endblock %}
                </div>

                    {% block sidebar %}{% endblock %}
                </div>
                <div class="span3">&nbsp;</div>
            </div>
        </div>
    </body>
</html>
