{% extends "WhitewashingReviewSquawkBundle::layout.html.twig" %}

{% block content %}
<div class="well">
    <h1>Create Github Project</h1>

    <p>You can send the review squawk to your public github repositories.</p>

    <h2>Please enter the url of your github project page.</h2>

    
</div>
{% endblock %}